@font-face
{
    font-family: "magic_yellow";
    src: url("../Assets/Fonts/magic_yellow/MagicYellow.otf") format("truetype");
}

@font-face
{
    font-family: "thingsFont";
    src: url("../Assets/Fonts/things-font/Things-BF6a2b817bdb3b5.ttf") format("truetype");
}

body
{
    background-color: rgb(159, 98, 47);
    margin: 0 auto;
    overflow: hidden;
}

.MainWrapper
{
    position: absolute;
    width: 100%;
    height: 100%;
}

.nameTitleText
{
    position: absolute;
    left: 6%;
    top: 6%;

    font-family: "magic_yellow", sans-serif;
    font-size: xx-large;
    
    letter-spacing: -1px;

    color :rgb(86, 55, 30);
}

.nameTitleIcon
{
    position: absolute;
    
    top: 5%;
    left: 2.5%;
}

.itchButton
{
    padding: 1.5vh;
}

.instaButton
{
    padding: 1.5vh;
}

.twitterButton
{
    padding: 1.5vh;
}

.homeButton,
.aboutButton,
.contactButton
{
    padding: 1.25vw;

    margin-top: 20%;
}

.uiDivider
{
    position: absolute;
    width: 100%;
    height: .5vh;

    top: 14vh;

    background-color:rgb(86, 55, 30)
}

.emailButton
{
    font-family: "thingsFont", sans-serif;
    font-size: 1.5rem;
    letter-spacing: .1vw;

    color: white;
}

.numberButton
{
    font-family: "thingsFont", sans-serif;
    font-size: 1.5rem;
    letter-spacing: .1vw;
    
    color: white;
}

