body {
    background-color: rgb(60, 60, 60);
    margin: 0;
    overflow: hidden;
}

.mainWrapper {
    position: absolute;
    width: 100%;
    height: 100vh;

    background-color: rgb(0, 0, 0);
}

.gameLevel {
    position: absolute;
    width: 100%;
    height: 100px;

    top: 600px;

    border-top: 5px solid white;
    background-color: rgb(0, 0, 0);
}

.gameObstacle {
    position: absolute;
    width: 70px;
    height: 70px;

    top: 535px;

    background-color: rgb(77, 77, 77);

    animation: obstacleLerp 3s infinite;
}

.score {
    font-family: Arial;

    position: absolute;

    top: 100px;
    left: 10px;
    
    color: rgb(255, 255, 255);
}

.instructTxt {
    font-family: Arial;

    position: absolute;

    top: 700px;

    color: white;
}

.heightCeiling {
    position: absolute;
    width: 100%;
    height: 100px;
    top: 50px;

    background-color: rgb(0, 0, 0);
}

.scoreRating {
    position: absolute;
    font-family: Arial;
    text-align: center;

    color: white;

    top: 100px;
    left: 50%;
}

/* 10 score ttile */
.C {
    color: white;
    opacity: 0;

    transform: scale(3);
    transform-origin: center;
}

/* 20 score title */
.U {
    color: rgb(0, 169, 0);
    opacity: 0;

    transform: scale(3);
    transform-origin: center;
}

/* 30 score title */
.R {
    color: cyan;
    opacity: 0;

    transform: scale(3.75);
    transform-origin: center;
}

/* 40 score title */
.E {
    color: magenta;
    opacity: 0;

    transform: scale(4);
    transform-origin: center;

    animation: E 2s infinite ease-in-out;
    
}

/* 50 score title */
.L {
    color: orange;
    opacity: 0;

    transform: scale(4.7);
    transform-origin: center;

    animation: L 1s infinite;
}

/* 60 score title */
.M {
    color: gold;
    opacity: 0;
    
    transform: scale(5);
    transform-origin: center;

    animation: M 1s infinite ease-in-out;
}

/* 70 score title */
.G {
    color: silver;
    opacity: 0;
    
    transform: scale(5.4);
    transform-origin: center;

    animation: G 2s infinite;
}

/* 80 score title */
.UN {
    color: rgb(255, 96, 96);
    opacity: 0;
    
    transform: scale(5.5);
    transform-origin: center;

    animation: UN 2s infinite;
    
}

/* 90+ score title */
.WTF {
    color: white;
    opacity: 0;
    /* font-size: 300%; */
    transform: scale(6);
    transform-origin: center;

    animation: WTF 3s infinite;
    
}

.gameTitle {
    font-family: Arial;
    color: white;
    position: absolute;

    top: 20px;
    left: 170px;
    transform: scale(4);
}

@keyframes obstacleLerp
{
    0%
    {
        background-color: red;
    }

    15%
    {
        background-color: orange;
    }

    30%
    {
        background-color: yellow;
    }

    45%
    {
        background-color: green;
    }

    60%
    {
        background-color: blue;
    }

    75%
    {
        background-color: cyan;
    }

    90%
    {
        background-color: magenta;
    }

    100%
    {
        background-color: white;
    }
}


@keyframes E
{
    0%
    {
        transform: scale(4);
        transform-origin: center;
    }

    50%
    {
        transform: scale(5);
        transform-origin: center;
    }
}

@keyframes L
{
    0%
    {
       color: orange;
    }

    10%
    {
        color:rgb(255, 174, 25);
    }

    20%
    {
        color:rgb(250, 179, 47);
    }

    30%
    {
       color:rgb(255, 191, 72);
    }

    40%
    {
        color:rgb(255, 199, 94);
    }

    50%
    {
       color:rgb(255, 207, 118);
    }

    60%
    {
        color:rgb(255, 199, 94);
    }

    70%
    {
        color:rgb(255, 191, 72);
    }

    80%
    {
        color:rgb(250, 179, 47);
    }

    90%
    {
        color:rgb(255, 174, 25);
    }

    100%
    {
        color: orange;
    }
    
}

@keyframes M
{
    50%
    {
        top: 9%;
    }

}

@keyframes G
{
    0%
    {
        color: silver;

        
        
    }

    60%
    {
        color: black;
        
        
    }

    95%
    {
        color: rgb(208, 243, 255);
    }
}


@keyframes UN
{
    0%
    {
        color: rgb(255, 96, 96);

        transform: scale(5.5);
        
    }

    60%
    {
        color: rgb(255, 227, 125);
        transform: scale(6.2);
        
    }

    80%
    {
        color: rgb(255, 96, 96);
    }
}
   
@keyframes WTF
{
    0%
    {
        color: white;
        transform: scale(6);
        
    }

    12%
    {
        color: rgb(0, 169, 0);
        transform: scale(9);
    }

    24%
    {
        color: cyan;
        transform: scale(6);
    }

    36%
    {
        color: magenta;
        transform: scale(9);
    }

    48%
    {
        color: orange;
        transform: scale(6);
        
    }

    60%
    {
        color: gold;
        transform: scale(9);
    }

    78%
    {
        color: silver;
        transform: scale(6);
    }

    90%
    {
        color: rgb(255, 96, 96);
        transform: scale(9);
    }

    100%
    {
        color: white;
        transform: scale(6);
    }

}

